<footer class="footer-area wow animate__animated animate__fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-footer-widget">
              <div class="logo">
                <a href="/" class="black-logo"
                  ><img src="/customer-assets/img/logo.png" alt="logo"
                /></a>
                <a href="/" class="white-logo"
                  ><img src="/customer-assets/img/logo.png" alt="logo"
                /></a>
                <p>
                  At PaiseSe.com, our mission is to provide innovative products, deliver a WOW customer experience, build trust, and promote family protection
                </p>
              </div>

              <ul class="social-links">
                <li>
                  <a href="https://www.facebook.com/people/PaiseSecom/61551672848238/"
                  target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/paisese.com_marketplace/" target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="https://in.linkedin.com/company/paisesese-com" target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-md-6 col-xs-6">
            <div class="single-footer-widget">
              <ul class="list">
                <li><a href="/p/about-us">About us </a></li>
                <li><a href="/contact-us">Contact us </a></li>
                <li><a href="/blogs"> Blogs </a></li>
                <li><a href="/p/privacy-policy">Privacy Policy</a></li>
                <li><a href="/p/terms-conditions">Terms of Use</a></li>
                <li><a href="/p/how-it-works">How it Works </a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-md-6 col-xs-6">
            <div class="single-footer-widget">
              <ul class="list">
                <li><a href="/product/credit-card/1">Credit Card</a></li>
                <li><a href="/product/personal-loan/2">Personal Loan </a></li>
                <li><a href="javascript:;">PAN Card</a></li>
                <!-- <li><a href="javascript:;">Aadhaar Card</a></li> -->
                <!-- <li><a href="javascript:;">IFSC Codes</a></li> -->
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-footer-widget">
              <ul class="footer-contact-info">
                <li>
                  <span>Call us :</span
                  ><a href="tel:+919953553471"> +91 9953553471</a>
                </li>
                <li>
                  <span>Email us :</span
                  ><a href="mailto:ceooffice@paisese.com"> ceooffice@paisese.com </a>
                </li>
                <li><span>Website :</span> paisese.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row footer-card_wrap">
          <div class="col-lg-12">
            <h6>
              Credit Cards
              <i class="fas fa-chevron-down" style="display: none"></i>
            </h6>
            <p class="d-none">Get your credit card outstanding balance , currently running at 70% rate of interest , transfer to 15% rate of interest from Paisese.Com</p>
            <p class="d-none">in Just ₹ 599 !  Get 1 Year unlimited doctor - MBBS/MD - consultations FREE for two family members along with 50+ blood tests, 15% discount & FREE from delivery charges on medicine</p>
            <p class="d-none">Overdraft facility for Salaried & Self-employed form India's biggest NBFCs & Banks. </p>
            <ul class="footer-credit-card">
              <li>
                <a href="javascript:;">Credit Cards</a>
              </li>
              <li>
                <a href="javascript:;">Credit Card Apply Online</a>
              </li>
              <li>
                <a href="javascript:;">Credit Card Eligibility</a>
              </li>
              <li>
                <a href="javascript:;">Credit Card Bill Payment</a>
              </li>
              <li>
                <a href="javascript:;">HDFC Credit Card</a>
              </li>
              <li>
                <a href="javascript:;">ICICI Credit Card</a>
              </li>
              <li>
                <a href="javascript:;">Axis Bank Credit Card</a>
              </li>
              <li>
                <a href="javascript:;">Citibank Credit Card</a>
              </li>
              <li>
                <a href="javascript:;">Credit Card with No Annual Fee India</a>
              </li>
              <li>
                <a href="javascript:;">Best Credit Cards in India</a>
              </li>
              <li>
                <a href="javascript:;">Best Dining Credit Cards in India</a>
              </li>
              <li>
                <a href="javascript:;">Best Fuel Credit Cards in India</a>
              </li>
              <li>
                <a href="javascript:;"
                  >Best Cashback &amp; Rewards Credit Cards in India</a
                >
              </li>
              <li>
                <a href="javascript:;">Best Travel Credit Cards in India</a>
              </li>
              <li>
                <a href="javascript:;">Best Air Miles Credit Cards in India</a>
              </li>
              <li>
                <a href="javascript:;">Best Credit Cards for Online Shopping</a>
              </li>
              <li>
                <a href="javascript:;">Credit Cards for People with No Credit</a>
              </li>
              <li>
                <a href="javascript:;">Credit Cards for Bad Credit</a>
              </li>
              <li>
                <a href="javascript:;">Credit Card for Pensioners</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row mt-4 footer-card_wrap">
          <div class="col-lg-12">
            <h6>
              Personal Loan
              <i class="fas fa-chevron-down" style="display: none"></i>
            </h6>
            <ul class="footer-credit-card">
              <li>
                <a href="javascript:;">Personal Loan</a>
              </li>
              <li>
                <a href="javascript:;">Personal Loan Eligibility Calculator</a>
              </li>
              <li>
                <a href="javascript:;">Personal Loan EMI Calculator</a>
              </li>
              <li>
                <a href="javascript:;">Personal Loan Interest Rates</a>
              </li>
              <li>
                <a href="javascript:;">HDFC Personal Loan</a>
              </li>
              <li>
                <a href="javascript:;">HDFC Personal Loan Interest Rates</a>
              </li>
              <li>
                <a href="javascript:;">HDFC Personal Loan EMI Calculator</a>
              </li>
              <li>
                <a href="javascript:;">ICICI Personal Loan</a>
              </li>
              <li>
                <a href="javascript:;">ICICI Personal Loan Interest Rates</a>
              </li>
              <li>
                <a href="javascript:;">ICICI Personal Loan EMI Calculator</a>
              </li>
              <li>
                <a href="javascript:;">Axis Bank Personal Loan</a>
              </li>
              <li>
                <a href="javascript:;">Axis Bank Personal Loan Interest Rates</a>
              </li>
              <li>
                <a href="javascript:;">Axis Bank Personal Loan EMI Calculator</a>
              </li>
              <li>
                <a href="javascript:;">Personal Loan for Self Employed</a>
              </li>
              <li>
                <a href="javascript:;">Personal Loan without CIBIL Verification</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="copyright-area">
          <p> © Copyright <script>document.write(new Date().getFullYear())</script> <a href="/"> PaiseSe.com </a></p>
        </div>
      </div>

      <div class="map-image"><img src="/customer-assets/img/map.png" alt="map" /></div>
    </footer>
    <!-- End Footer Area -->

    <div class="go-top"><i class="fas fa-arrow-up"></i></div>
    <!-- Links of JS files -->
    <script src="/customer-assets/js/jquery.min.js"></script>
    <script src="/customer-assets/js/bootstrap.bundle.min.js"></script>
    <script src="/customer-assets/js/meanmenu.js"></script>
    <script src="/customer-assets/js/nice-select.min.js"></script>
    <script src="/customer-assets/js/slick.min.js"></script>
    <script src="/customer-assets/js/magnific-popup.min.js"></script>
    <script src="/customer-assets/js/appear.min.js"></script>
    <script src="/customer-assets/js/odometer.min.js"></script>
    <script src="/customer-assets/js/owl.carousel.min.js"></script>
    <script src="/customer-assets/js/parallax.min.js"></script>
    <script src="/customer-assets/js/wow.min.js"></script>
    <script src="/customer-assets/js/form-validator.min.js"></script>
    <script src="/customer-assets/js/contact-form-script.js"></script>
    <script src="/customer-assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/customer-assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/javascripts/global.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
	
	
	<script>
$(document).ready(function(){

    let title;
    if(!document.title){
    title = [window.location.href]
    }else{
    title = [document.title]
    }

    setInterval(()=>{
      if(!document.hidden){
      document.title = title[0];
    }
  }, 2000)

  //closes pop-up after 2 seconds
  setTimeout(()=>{
    console.log(window.location.href,'working');
    $(".txt-pop").toggleClass("close");
    $(".greet").toggleClass("fa-angle-left")
    $(".greet").toggleClass("fa-angle-right")
  } , 2000)

  //shows new message in title if tab is in-active
  setInterval(()=>{
    if(document.hidden){
      title.push('+1 Message')
      document.title = '+1 Message';
    }else{
      document.title = title[0];
    }
  },30000)

  //closes pop-up on click
  $(".txt-pop a").click(function(){
    $(".txt-pop").toggleClass("close");
    $(".greet").toggleClass("fa-angle-right")
    $(".greet").toggleClass("fa-angle-left")

  });

  //closes pop-up on scroll
  $(window).on("scroll" , () =>{
    $(".txt-pop").addClass("close");
    if(!$(".greet").hasClass("fa-angle-left")){
       $(".greet").addClass("fa-angle-left")
       $(".greet").removeClass("fa-angle-right")
    }
  })
});
</script>
	
  </body>
</html>