<%- include('./customer/partials/header') %>

  <!-- Start Error Area -->
  <section class="error-area mt-4 ptb-70 pb-4 r-mt-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row justify-content-center">
            <div class="col-md-6 order-2 order-md-1">
              <h3 class="heading mb-4">Be paiseSe Business Partner!</h3>
              <ul>
                <li class="fs-5">
                  <p class="fs-6">Best in class payouts</p>
                </li>
                <li class="fs-5">
                  <p class="fs-6">Best in class processing ability</p>
                </li>
                <li class="fs-5">
                  <p class="fs-6">Industry Experts at your service</p>
                </li>
                <li class="fs-5">
                  <p class="fs-6">Secured, Unsecured product under 1 umbrella</p>
                </li>
                <li class="fs-5">
                  <p class="fs-6">
                    Products available: Personal Loan, Business Loan, Credit Card,
                    Health Insurance, Loan against property, Loan against car
                  </p>
                </li>
              </ul>
              <svg width="256px" height="256px" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#0a0000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="3.2"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.495257" d="M82.5152 134.811C91.6847 143.082 131.789 155.582 135.419 165.926C135.664 166.623 100.375 240.649 95.7744 241.416C76.525 244.62 57.0225 229.323 38 223.9" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="0.495257" d="M346.544 130C325.728 136.001 335.709 132.868 316.568 139.307C306.441 142.717 285.915 148.687 277.369 154.432C273.877 156.784 278.842 162.383 279.674 164.907C283.817 177.441 295.566 249.215 299.275 249.841C318.521 253.079 343.743 237.208 361.532 231.222" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M268.22 160.121C251.702 160.121 209.674 149.177 195.015 160.121C186.617 166.396 172.596 203.524 188.069 207.372C199.04 210.104 208.829 189.641 218.166 187.782C226.341 186.155 268.498 209.649 273.732 216.595" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M273.731 220.204C273.957 233.976 256.781 253.237 253.78 256.192C248.737 261.173 241.585 266.508 217.205 269.515" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M142.258 228.496C150.944 226.46 154.573 230.69 153.143 241.185C146.371 256.474 125.492 252.543 135.817 236.986" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M175.336 234.23C183.472 232.714 184.492 239.161 178.397 253.572C172.721 268.148 158.074 261.511 161.062 245.956" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M191.97 246.041C199.972 246.041 203.973 251.593 203.973 262.697C203.041 274.374 182.324 278.634 182.324 258.284" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M184.731 177.056C176.394 177.004 167.123 174.318 156.464 174.51C145.804 174.703 139.376 176.305 129.406 178.109" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M253 230C257.105 232.806 262.021 235 263 235" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M242 247C246.724 251.009 249.931 253.014 251.622 253.014" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M226 260C230.724 264.009 233.931 266.014 235.622 266.014" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M128.204 237.042C114.813 234.636 106.271 233.434 102.58 233.434C98.888 233.434 107.429 234.636 128.204 237.042Z" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </div>
            <div class="col-md-6 order-1 order-md-2">
              <h3 class="heading mb-4 d-block d-md-none">Connect As Partner</h3>
              <form class="mb-5 partner-connect-form" method="post" id="contactForm">
                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your name" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group mb-3">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" />
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <input type="number" min="0" class="form-control no-arrow" name="phone" id="phone"
                      placeholder="Phone" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group text-left mb-3 col-sm-6">
                    <input type="text" name="pincode" id="email" placeholder="Pin Code" class="form-control" />
                  </div>
                  <div class="form-group text-left mb-3 col-sm-6">
                    <input type="text" name="city" id="email" placeholder="City" class="form-control" readonly />
                  </div>
                  <div class="form-group text-left mb-3 col-sm-12">
                    <input type="text" name="state" placeholder="State" class="form-control state" readonly />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <textarea class="form-control h-100" name="message" id="message" cols="30" rows="3"
                      placeholder="Write your message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary px-4 rounded-0">
                      Send Proposal
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Error Area -->
  <script type="module" src="/javascripts/customer/partner-connect.js"></script>
  <%- include('./customer/partials/footer') %>