<!DOCTYPE html>
<html>
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .bgimg {
      background: url("/customer-assets/img/logo.png") no-repeat center center fixed; 
      height: 100%;
      position: relative;
      color: white;
      font-family: "Courier New", Courier, monospace;
      font-size: 25px;
    }

    .topleft {
      position: absolute;
      top: 0;
      left: 16px;
    }

    .bottomleft {
      position: absolute;
      bottom: 0;
      left: 16px;
    }

    .middle {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    hr {
      margin: auto;
      width: 40%;
    }
    .coming-soon-text {
      /* text-shadow: 3px 3px black; */
      color: #0a66c2;
    }
  </style>
  <body>
    <div class="bgimg">
      <div class="middle">
        <h1 class="coming-soon-text">COMING SOON</h1>
      </div>
    </div>
  </body>
</html>
