<!-- <div class="partner-area">
  <div class="container container_auto">
    <h3 class="">
      PaiseSe.com Partners 
    </h3>

    <div class="partner-inner">
      <div class="row align-items-center">
        <% partners.forEach((partner, index) => { %>
        <div
          class="col-lg-2 col-sm-4 col-md-3 col-6 "
        >
          <a href="javascript:;">
            <img <% if(partner.icon !== null) { %>
            src="/uploads/<%= partner.icon %>" <% } else { %>
            src="/customer-assets/img/client-image/1.jpg" <% } %> alt="<%=
            partner.name %>"  class="zoom" />
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div> -->




 <!-- Start Partner Area -->
 <div class="partner-area mb-5">
  <div class="container container_auto">

            <h3 class=" wow animate__animated animate__zoomIn animated">Credit Card</h3>

    <div class="partner-inner">
      <div class="row align-items-center">
        <div class="col-lg-2 col-sm-4 col-md-3 col-6  wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/hdfc-bank-vector-logo.png" alt="partner">
            <img src="customer-assets/img/partner-image/hdfc-bank-vector-logo.png" alt="partner">
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/vconnect.png" alt="partner">
            <img src="customer-assets/img/partner-image/vconnect.png" alt="partner">
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/ICICI_Bank_Logo.png" alt="partner">
            <img src="customer-assets/img/partner-image/ICICI_Bank_Logo.png" alt="partner">
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/MediBuddy_Logo.jpg" alt="partner">
            <img src="customer-assets/img/partner-image/MediBuddy_Logo.jpg" alt="partner">
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/Bajaj-Finserv-Logo.jpg" alt="partner">
            <img src="customer-assets/img/partner-image/Bajaj-Finserv-Logo.jpg" alt="partner">
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/smc-finance.jpg" alt="partner">
            <img src="customer-assets/img/partner-image/smc-finance.jpg" alt="partner">
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/muthoot-finance.png" alt="partner">
            <img src="customer-assets/img/partner-image/muthoot-finance.png" alt="partner">
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/cashe-logo.png" alt="partner">
            <img src="customer-assets/img/partner-image/cashe-logo.png" alt="partner">
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/tata-capital.png" alt="partner">
            <img src="customer-assets/img/partner-image/tata-capital.png" alt="partner">
          </a>
        </div>
          <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/MediBuddy_Logo.jpg" alt="partner">
            <img src="customer-assets/img/partner-image/MediBuddy_Logo.jpg" alt="partner">
          </a>
        </div>
        
          <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/zype.png" alt="partner">
            <img src="customer-assets/img/partner-image/zype.png" alt="partner">
          </a>
        </div>
        
          <div class="col-lg-2 col-sm-4 col-md-3 col-6 wow animate__animated animate__zoomIn animated">
          <a href="#">
            <img src="customer-assets/img/partner-image/NivaLogo.png" alt="partner">
            <img src="customer-assets/img/partner-image/NivaLogo.png" alt="partner">
          </a>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
    <!-- End Partner Area -->
