<a style="position: sticky; z-index: 10; top: 85%; left: 96%;" href="https://wa.me/919953553471" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt="whatsapp" width="50px" height="50px">
  </a>