<section class="services-area pt-5 pb-5 bg-f7fafd">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 d-none">
        <div class="row ">
          <div class="col-sm-12">
            <div class="pt-4 pb-4">
              <h5>Top Credit Cards in India for 2023</h5>
              <div class="table-responsive">
                <table
                  class="table table-bordered bg-fff mb-0"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <th><b>Top 10 Credit Cards</b></th>
                      <th style="width: 20%"><b>Annual Fee</b></th>
                      <th><b>Best Suited For</b></th>
                      <th><b>Key Feature#</b></th>
                    </tr>
                    <tr>
                      <td>Cashback Axis Card</td>
                      <td>Rs. 999</td>
                      <td>Cashback across all categories</td>
                      <td>
                        5% cashback on online transactions* without any merchant
                        restriction
                      </td>
                    </tr>
                    <tr>
                      <td>Standard Chartered Bank EaseMyTrip Credit Card</td>
                      <td>Rs. 350</td>
                      <td>Travel</td>
                      <td>
                        Flat 20% instant discount on hotel booking and flat 10%
                        instant discount on flight bookings at EaseMyTrip
                        website/app
                      </td>
                    </tr>
                    <tr>
                      <td>Axis Ace Credit Card</td>
                      <td>Rs. 499</td>
                      <td>Cashback</td>
                      <td>2% cashback across all transactions</td>
                    </tr>
                    <tr>
                      <td>Citi PremierMiles</td>
                      <td>Rs. 3,000</td>
                      <td>Air Miles</td>
                      <td>
                        10,000 Bonus Miles on spending Rs. 1,000 or more within
                        60 days of card issuance
                      </td>
                    </tr>
                    <tr>
                      <td>Credit Card ELITE</td>
                      <td>Rs. 4,999</td>
                      <td>All-round Benefits</td>
                      <td>Welcome e-gift voucher worth Rs. 5,000</td>
                    </tr>
                    <tr>
                      <td>Credit Card Octane</td>
                      <td>Rs. 1,499</td>
                      <td>Fuel</td>
                      <td>7.25% value back on your fuel expenses</td>
                    </tr>
                    <tr>
                      <td>Flipkart Axis Bank Credit Card</td>
                      <td>Rs. 500</td>
                      <td>Online Shopping</td>
                      <td>5% cashback on Flipkart and Myntra</td>
                    </tr>
                    <tr>
                      <td>HDFC Diners Club Privilege</td>
                      <td>Rs. 2,500</td>
                      <td>Travel & Lifestyle</td>
                      <td>
                        Complimentary Annual memberships of Amazon Prime, MMT
                        BLACK, Times Prime and more
                      </td>
                    </tr>
                    <tr>
                      <td>Axis Vistara Signature Credit Card</td>
                      <td>Rs. 3,000</td>
                      <td>Travel</td>
                      <td>
                        Complimentary Premium Economy Ticket as welcome benefit
                        and Club Vistara Silver Membership
                      </td>
                    </tr>
                    <tr>
                      <td>Amazon Pay ICICI Credit Card</td>
                      <td>Nil</td>
                      <td>Online Shopping</td>
                      <td>5% cashback on Amazon purchases for Prime users</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p>
                *GST Extra<br />
                #T&C Apply
              </p>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-sm-12">
            <div class="bg-fff px-4 pt-4 pb-4 mb-4">
              <p>
                These cards offer the best-in-class benefits across shopping,
                travel, cashback, etc., for consumers from different income
                levels and credit profiles. Please note that this list does not
                include super-premium credit cards that are usually
                “invite-only” cards and are offered to individuals with high
                income or net worth. If you want to see the
                <b>best super-premium cards in India,</b>
                <a href="">click here.</a>
              </p>
            </div>
          </div>
        </div>
       
       
        <div class="row ">
          <div class="col-sm-12">
            <div class="bg-fff px-4 pt-4 pb-4 mb-4">
              <h5>Types of Credit Cards</h5>
              <ul class="features-list-ul">
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Instant Credit Cards</b> are approved instantly within
                      a few minutes with none to minimal document requirements.
                      Credit Cards with instant disbursals are usually offered
                      by banks and NBFCs to their select customers on the basis
                      of their credit profiles.</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Short-term Credit Cards</b> have short repayment
                      periods ranging from a few days to 12 months.
                    </span></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Pre-approved Credit Cards</b> are usually offered by
                      banks and NBFCs to their existing customers on the basis
                      of their credit history, income, employer’s profile,
                      etc.</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Consumer Durable Loans</b> can be used to purchase any
                      consumer durable items like smartphones, furniture,
                      microwave, etc. The purchase amount gets divided into EMIs
                      and can be repaid within the tenure decide. Some products
                      may require a down payment or a processing fee while
                      others may not.</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Credit Card Balance Transfer</b> facility allows
                      borrowers to transfer their outstanding Credit Card to a
                      new lender for lower interest rates or better loan terms.
                      However, transfer your outstanding Credit Card only when
                      the savings made through the transfer outweighs the cost
                      of the loan transfer.</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Credit Card Top Up</b> is offered to existing Credit
                      Card borrowers who need additional funds to meet their
                      financial requirements. However, this loan facility is
                      only offered to select existing Credit Card borrowers
                      having satisfactory loan repayment history and/or have
                      completed a specified number of EMIs.</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Credit Card for Education:</b> Individuals requiring
                      funds for pursuing higher education in India and abroad,
                      vocational courses, etc., and are unable to get a
                      conventional education loan can avail of a Credit Card for
                      higher education.</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Debt Consolidation Loan:</b> Individuals struggling
                      with multiple debt obligations can consolidate them into a
                      single loan taken at a reduced interest rate and/or for
                      longer tenures. The main purpose to apply for Debt
                      Consolidation Loan is to reduce the interest cost and EMI
                      burden.
                    </span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-sm-12">
            <div class="bg-fff px-4 pt-4 pb-4 mb-4">
              <h5>Credit Card Eligibility Criteria</h5>
              <ul class="features-list-ul">
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i> <b>Age:</b> 18 – 60
                      years</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i> <b>Salary:</b> At
                      least Rs. 15,000 per month for salaried customers</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i> <b>Income:</b> At
                      least Rs. 5 lakh p.a. for self-employed customers</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Credit Score:</b> Preferably 750 and above as having
                      higher credit scores improve chances of loan
                      approval</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Employment Stability:</b> At least 2 years with a
                      minimum 1 year of work experience in the same job for
                      salaried</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Business Continuity:</b> At least 2 years of business
                      continuity for self-employed professionals</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Credit Card for Education:</b> Individuals requiring
                      funds for pursuing higher education in India and abroad,
                      vocational courses, etc., and are unable to get a
                      conventional education loan can avail of a Credit Card for
                      higher education.</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Debt Consolidation Loan:</b> Individuals struggling
                      with multiple debt obligations can consolidate them into a
                      single loan taken at a reduced interest rate and/or for
                      longer tenures. The main purpose to apply for Debt
                      Consolidation Loan is to reduce the interest cost and EMI
                      burden.
                    </span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-sm-12">
            <div class="bg-fff px-4 pt-4 pb-4 mb-4">
              <h5>Documentation for Credit Card</h5>
              <ul class="features-list-ul">
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Identity Proof:</b> Passport/PAN Card/ Voter’s ID/
                      Aadhaar Card/ Driving License</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Address Proof:</b> Passport/ Aadhaar Card/ Lease/
                      Property Purchase Agreement/ Utility Bills (not more than
                      3 months old)/ Passport/ Driving License</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Income Proof For Salaried Individuals:</b> Salary
                      Slips/ Bank Account Statement/ Form 16</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Income Proof For Self-employed Professionals:</b>
                      Previous Years’ ITR/ P&L Statement and Balance Sheet/ Bank
                      Account Statement</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i>
                      <b>Business Proof For Self-employed Individuals:</b>
                      Business Incorporation Certificate/ Professional Degree/
                      Certificate of Practice/ Partnership Deed/ GST
                      Registration and Filing Documents/ MOA & AOA/ Shop Act
                      License</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-12">
            <div class="bg-fff px-4 pt-4 pb-4 mb-4">
              <h5>How to Improve your Chances of Getting a Credit Card?</h5>
              <p>
                A few ways of improving your chances of Credit Card approval
                are:
              </p>
              <ul class="features-list-ul">
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i> Maintain your CIBIL
                      score above 750</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i> Check for
                      inaccuracies in your credit report, as they might
                      adversely impact your credit score and thereby, reduce the
                      chances of loan approval</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i> Compare the Credit
                      Card offers available from banks and NBFCs before
                      finalizing any loan deal</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i> Apply for the loan
                      from a bank/NBFC where you have the highest chances of
                      approval</span
                    ></a
                  >
                </li>
                <li class="pt-2">
                  <a href=""
                    ><span
                      ><i class="flaticon-check-mark"></i> Avoid making multiple
                      loan applications within a short span of time</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-none">
        <aside class="widget-area r-mt-0 mt-5" id="secondary">
          <section
            class="widget widget_recent_entries bg-fff px-3 pt-3 pb-3 mt-3 "
          >
            <h3 class="widget-title">Credit Card Pages</h3>
            <ul>
              <li><a href="#">Credit Card Interest Rate</a></li>
              <li><a href="#">Credit Card Eligibility</a></li>
              <li><a href="#">Credit Card Documents Required</a></li>
              <li><a href="#">Credit Card Status</a></li>
              <li><a href="#">Credit Card EMI Calculator</a></li>
            </ul>
          </section>

          <section
            class="widget widget_archive bg-fff px-3 pt-3 pb-3 mt-4 "
          >
            <h3 class="widget-title">Credit Card Providers</h3>

            <ul class="height200">
              <li><a href="#">HDFC Credit Card</a></li>
              <li><a href="#">Credit Card</a></li>
              <li><a href="#">Axis Bank Credit Card</a></li>
              <li><a href="#">ICICI Credit Card</a></li>
              <li><a href="#">Bajaj Finserv Credit Card</a></li>
              <li><a href="#">Citibank Credit Card</a></li>
              <li><a href="#">Tata Capital Credit Card</a></li>
              <li><a href="#">Yes Bank Credit Card</a></li>
              <li><a href="#">Home Credit Credit Card</a></li>
              <li><a href="#">Canara Bank Credit Card</a></li>
              <li><a href="#">Kotak Mahindra Bank Credit Card</a></li>
              <li><a href="#">Indusind Bank Credit Card</a></li>
              <li><a href="#">PNB Credit Card</a></li>
              <li><a href="#">Bank Of Baroda Credit Card</a></li>
              <li><a href="#">IDBI Credit Card</a></li>
              <li><a href="#">Dhani Credit Card</a></li>
              <li><a href="#">Indian Bank Credit Card</a></li>
              <li><a href="#">Federal Bank Credit Card</a></li>
              <li><a href="#">Standard Chartered Credit Card</a></li>
              <li><a href="#">Fullerton India Credit Card</a></li>
              <li><a href="#">Bank Of India Credit Card</a></li>
              <li><a href="#">Muthoot Finance Credit Card</a></li>
              <li><a href="#">RBL Bank Credit Card</a></li>
              <li><a href="#">HSBC Credit Card</a></li>
              <li><a href="#">UCO Bank Credit Card</a></li>
              <li><a href="#">Union Bank Of India Credit Card</a></li>
              <li><a href="#">Central Bank Of India Credit Card</a></li>
              <li><a href="#">Bank of Maharashtra Credit Card</a></li>
              <li><a href="#">Cashe Credit Card</a></li>
              <li><a href="#">Moneytap Credit Card</a></li>
              <li><a href="#">IDFC First Bank Credit Card</a></li>
              <li><a href="#">Kreditbee Credit Card</a></li>
              <li><a href="#">Moneyview Credit Card</a></li>
              <li><a href="#">Early Salary Credit Card</a></li>
              <li><a href="#">Aditya Birla Credit Card</a></li>
            </ul>
          </section>

          <section
            class="widget widget_categories bg-fff px-3 pt-3 pb-3 mt-4 "
          >
            <h3 class="widget-title">Credit Card Types</h3>

            <ul class="height200">
              <li><a href="#">Agriculture Loan</a></li>
              <li><a href="#">Consumer Loan</a></li>
              <li><a href="#">Flexi Loan</a></li>
              <li><a href="#">Marriage Loans</a></li>
              <li><a href="#">NRI Credit Card</a></li>
              <li><a href="#">Credit Card Balance Transfer</a></li>
              <li><a href="#">Credit Card For Salaried Employees</a></li>
              <li><a href="#">Secured Loans</a></li>
              <li><a href="#">Short Term Loans</a></li>
              <li><a href="#">Term Loan</a></li>
              <li><a href="#">Top Up Loan</a></li>
              <li><a href="#">Loan Against LIC Policy</a></li>
            </ul>
          </section>
        </aside>
      </div>
    </div>
  </div>
</section>
