<style>
  .services-list span {
    font-size: 20px !important;
  }

  .services-list {
    width: 700px;
  }

  .overview-content h1,
  h2 {
    font-size: 30px !important;
  }

  @media screen and (max-width: 768px) {
    .services-list span {
      font-size: 16px !important;
    }


    .overview-content h1,
    .overview-content h2 {
      font-size: 24px !important;
    }

    .services-list {
      width: 90%; 
    }
  }

  @media screen and (max-width: 480px) {
    .services-list span {
      font-size: 14px !important;
    }

    .overview-content h1,
    .overview-content h2 {
      font-size: 20px !important;
    }

    .services-list {
      width: 100%; 
    }
  }
</style>
<section class="features-area ptb-100 m-0 p-0">
  <div class="container container_auto">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6  wow animate__animated animate__zoomInLeft animated ml-0">
        <div class="overview-box">
          <div class="overview-content">
            <div class="content">
              <h2>Perosnal Loan offers from top 15+ Banks &amp; NBFCs </h2>
              <div class="bar"></div>
              <h5>Personal Loan</h5>
              <ul class="services-list">

                <li>
                  <span><i class="flaticon-check-mark"></i> Unsecured Salaried
                    Personal Loans upto 1 Cr *</span>
                </li>


                <li>
                  <span><i class="flaticon-check-mark"></i> Rate Of Interest starts
                    from 10.45% on reducing balance</span>
                </li>


                <li>
                  <span><i class="flaticon-check-mark"></i> Convert Credit Card
                    outstanding from 70% reducing to 15% on reducing balance</span>
                </li>


                <li>
                  <span><i class="flaticon-check-mark"></i> Convert Credit Card
                    outstanding from 70% reducing to 15% on reducing balance</span>
                </li>

                <li>
                  <span><i class="flaticon-check-mark"></i> Quick &amp; Easy process
                  </span>
                </li>
                <li>
                  <span><i class="flaticon-check-mark"></i> Quick &amp; Easy process
                  </span>
                </li>

              </ul>
              <a href="/product/personal-loan/2" class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 "></div>
      <div class="col-lg-4 col-sm-4 col-md-4  wow animate__animated animate__zoomInLeft animated">
        <div class="login-content">
          <div class="d-table">
            <div class="d-table-cell">
              <div class="login-form" style="padding-bottom: 100px;">

                <h3 style="font-size: 30px !important;">Log In</h3>
                <p style="font-size: 20px;">New to Luvion? <a href="/register">Sign up</a></p>

                <form class="mobile-otp-form">
                  <div class="form-group">
                    <input type="number" name="phone" id="mobileNumber" placeholder="Your Number"
                      class="form-control font-monospace" />
                  </div>

                  <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Your Password"
                      class="form-control font-monospace" />
                  </div>

                  <button class="btn btn-primary send-otp">Login</button>
                  <!-- <button type="button" class="btn btn-primary verify-otp d-none">
                                  Verify Login Code
                                </button>
                                <button type="button" class="btn btn-primary resend-otp d-none mt-3">
                                  resend Login Code
                                </button> -->
                </form>
                <p class="fs-6">
                  <b>
                    <a href="/reset-password"> Forgot Password?</a>
                  </b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<script type="module" src="/javascripts/customer/login.js"></script>